{{> nav}}

<h1>Welcome !</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa consequatur in sequi odit perferendis! Illo, facilis dolore doloremque quia hic nam praesentium similique blanditiis error consequuntur eius, atque obcaecati! Accusamus.</p>

{{> footer}}